<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VeloxDownlaoder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VeloxDownloader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F2FF8051DECB99600D4CFB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F2FF8191DECB99600D4CFB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F2FF8241DECB99600D4CFB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F8B46291DF3B186007E094A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F8B46311DF3B186007E094A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
